#logo{
    width: 150px;
    height: 150px;
    margin: 2% 44%;    
}

h3{
    margin-left:43%; 
    color: white !important;}

body{
    background-color: orange !important;
    
}

h4{
    color: white !important;  
}

.input{
    margin: 2% 40%; 
    
}

#submit{
    margin: 2% 40%;
}

.burger-input{
    margin: -10% 8%;
}

.devoured{
    margin: 5% 70%;
    width: 400px;
}

li {
    font-size: 20px;
    list-style-type: none;
    color: navy !important;

}

#dab{
    width: 300px  !important;

}